In [3]:
# prompt: linear regression program

import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Load the dataset
df = pd.read_csv(r"C:\Users\skish\Downloads\TESLA.csv")

from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['Date']=le.fit_transform(df['Date'])
df['Date'].unique()

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df.iloc[:,-1], test_size=0.2)

# Create a linear regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean squared error:", mse)
print("R-squared score:", r2)

Mean squared error: 304715931636192.8
R-squared score: 0.4981100335468941

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,0,259.933319,264.500000,256.893341,260.436676,260.436676,62828700
1,1,260.333344,263.043335,258.333344,258.493347,258.493347,53868000
2,2,259.466675,260.260010,254.529999,258.406677,258.406677,51094200
3,3,265.500000,268.989990,258.706665,260.510010,260.510010,91449900
4,4,261.600006,265.769989,258.066681,260.196655,260.196655,55297800
...,...,...,...,...,...,...,...
248,248,283.089996,284.500000,272.820007,275.329987,275.329987,63615400
249,249,271.829987,284.089996,270.309998,276.010010,276.010010,58076900
250,250,283.839996,288.670013,277.510010,282.940002,282.940002,61925200
251,251,283.079987,289.000000,277.570007,287.809998,287.809998,54664800
252,252,282.760010,283.649994,265.779999,268.209991,268.209991,77393100

In [9]:
prediction=model.predict([[4,261.600006,265.769989,258.066681,260.196655,260.196655]])
print(prediction)

[64230091.43373933]

C:\Users\skish\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [15]:
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.ensemble import RandomForestRegressor
model2 = RandomForestRegressor()
model2.fit(X_train, y_train)
ypred = model2.predict(X_test)
a = mean_squared_error(y_test,ypred)
print("mean_squared_error=",a)
score = r2_score(y_test,ypred)
print(f"r2_score={score}")

mean_squared_error= 391842386697962.7
r2_score=0.35460623519500023

In [16]:
#Confusion matrix
from sklearn.metrics import confusion_matrix,classification_report
cm=confusion_matrix(y_test,ypred)
print(cm)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]